@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

body {
  font-family: "Dosis" !important;
}

.App {
  text-align: center;
  width: 100vw;
  min-height: 1500px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.grid {
  display: flex;
  flex-direction: column;
  width: 1400px;
  height: 1400px;
  padding: 40px;
}

.topRow, .bottomRow {
  height: 200px;
  display: flex;
  flex-direction: row;
}

.leftColumn, .rightColumn {
  justify-content: stretch;
  align-items: stretch;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.centre-parent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.centre {
  flex-grow: 1;
}

.cell {
  display: flex;
  width: calc(1000px / 9);
  height: 200px;
}

.topRow .cell div, .bottomRow .cell div {
  flex-grow: 1;
}

.topRow .cell, .bottomRow .cell {
  flex-direction: row;
}

.cell p {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.topRow .color, .bottomRow .color {
  flex-grow: 1;
}

.color {
  height: 30px;
}

.Red {
  background-color: red;
}

.Orange {
  background-color: orange;
}

.Cyan {
  background-color: cadetblue;
}

.Yellow {
  background-color: yellow;
}

.Green {
  background-color: green;
}

.Blue {
  background-color: blue;
}

.Brown {
  background-color: brown;
}

.Purple {
  background-color: purple;
}

.topRow .cell:not(:first-child)
, .bottomRow .cell:not(:last-child) {
  border-right: 1px solid black;
}

.bottomRow .cell:last-child, .topRow .cell:last-child {
  border-left: none;
}

.bottomRow .cell:first-child, .bottomRow .cell:last-child {
  border-top: none;
}

.leftColumn .city, .rightColumn .city {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.topRow .cell:first-child, .topRow .cell:last-child {
  border-bottom: none;
}

.leftColumn .cell:not(:first-child), .rightColumn .cell:not(:first-child) {
  border-top: 1px solid black;
}

.name {
  text-transform: uppercase;
  font-weight: 600;
}

.topRow .cell {
  transform: rotate(180deg);
}

.topRow, .bottomRow {
  border: 1px solid black;
}

.leftColumn, .rightColumn {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.vert .cell {
  transform: rotate(90deg);
}

.topRow .cell, .bottomRow .cell {
  flex: 1;
}

.horiz .cell:not(:first-child), .horiz .cell:not(:last-child) {
  width: calc(1000px / 9);
}

.horiz .cell:first-child, .horiz .cell:last-child {
  width: 200px;
  height: 200px;
  flex: unset;
}